.header {
    height: 20%;
    background-color: #222;
    margin-bottom: 50px;
    color: white;
    font-size: 25px;
}
.headerBtn {
    height: 100%;
    width: 120px;
    padding: 15px;
    float: right;
    margin-right: 0px;
    text-align: center;
}
.headerBtn:hover {
    cursor: pointer;
    background-color: white;
    color: #222;
}
.content {
    text-align: center;
}
.btn {
    background-color: #111;
    color: white;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
}
.inputTxt {
    font-size: 20px;
}
.modal-body {
    padding: 0px;
    height: 100%;
}
.floatContainer {
    margin: 0px;
    height: auto;
}
.logInRight,
.logInLeft {
    text-align: center;
    display: inline-block;
    width: 45%;
    vertical-align: middle;
    margin-bottom: 5%;
    margin-top: 5%;
}
#msg,
#msg2 {
    color: red;
}
.input,
.input2 {
    margin-bottom: 5%;
    border: 0px solid white;
    border-bottom: 1px solid #AAA;
    padding: 1%;
    font-size: 20px;
}
.input:focus {
    border: 0px solid white;
    border-bottom: 1px solid #AAA;
}
.signUpRight,
.signUpLeft {
    text-align: center;
    display: inline-block;
    width: 45%;
    vertical-align: middle;
    margin-bottom: 5%;
    margin-top: 5%;
}
